.main-two{
    background: url('../images/background/zad-back.jpg');
    width: 375px;
    height: 700px;
}


@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');





.counters-glas{
    display: flex;
    justify-content: space-between;
    margin: 0 11px 0 30px;
}

.counter-stars{
    display: flex;
    
}


.image-stars{
    position: relative;
    top: 16px;
    width: 41px;
    height: 41px;
    z-index: 3;
}


.counter-star{
    background-color: white;
    width: 80.1px;
    height: 27.94px;
    margin: 23px 0 0 -23.9px;
    border-radius: 40px;
}

.counter-stars:focus{
    .fern{
        position: absolute;
        top: 61px;
        left: 43px;
        background-color: white;
        padding: 13.5px 17px;
        max-width: 217px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    .fern-text{
        font-family: "Jura", sans-serif;
        font-weight: 700;
        font-size: 12px;
    }

    .fern-text::after{
        content: "Звездоксы – игровая валюта за успехи! Меняйте на мерч и реальные призы (сертификаты Око, Озон и др.). Больше Звездоксов – круче награды!";
    }
}




.counter-lighings{
    display: flex;
}

.image-lighings{
    position: relative;
    z-index: 3;
    width: 35px;
    height: 40px;
    top: 15px;
}

.counter-lighing{
    background-color: white;
    width: 80.1px;
    height: 27.94px;
    margin: 23px 0 0 -23.9px;
    border-radius: 40px;
}

.count-star{
    font-family: "Jaro", sans-serif;
    font-weight: 400;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.count-lighing{
    font-family: "Jaro", sans-serif;
    font-weight: 400;
    color: black;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.imageTitle{
    padding: 0 0 0 31px;
}

.zad-title{
    background-color: white;
    border-radius: 30px;
    padding: 21px 46px;
    max-width: 338px;
    margin: 27px auto;
}

.zad-tit{
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #877CB8;
}

.card{
    display: flex;
    background-color: white;
    border-radius: 30px;
    max-width: 334px;
    margin: 11px auto;
}

.tts-s{
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 22px 0 0 20px;
}

.qwe{
    width: 93px;
    height: 127px;
    margin: 22px 0 22px 17px;
}

.counter-stars{
    padding: 5px 0 0 17px;
}

.qaws{
    padding: 15px 0 0 22px;
    color: #8969FF;
    font-family: "Jaro", sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.settings{
    display: flex;
    justify-content: center;
}
